<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="StudentDbContext"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=T:\labb\DataAccessLayer\Database1.mdf;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- Измените значение на Dapper или EntityFramework для переключения -->
		<add key="RepositoryType" value="Dapper" />
	</appSettings>
</configuration>